// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900');

/* 1. import only the necessary Bootstrap files */
@import "scss/functions";
@import "scss/variables";

/* 2. begin customization ---- */
$font-family-sans-serif: 'Nunito Sans',
sans-serif;
$theme-colors: ("turquoise":#50E3C2, "noirpur":#000);


$colors: ("turquoise":#50E3C2, "noirpur":#000);
$turquoise: #50E3C2;
$noirpur: #000000;

.turquoise {
    color: $turquoise !important;
}

body {
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: $noirpur!important;
    &::-webkit-scrollbar {
        display: none;
    }
}

section {
    padding-top: 4em;
    padding-bottom: 4em;

    h2 {
        font-weight: 700;
        font-size: 3em;
        padding-left: 0.4em;
        margin-bottom: 0.5em;
        border-left: 10px solid;
    }

    p {
        font-weight: 500;
    }

    h3 {
        font-weight: 700;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .btn {
        border-radius: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }

    a {
        color: $turquoise;

        &:hover {
            color: magenta;
        }
    }
}

ul.nav.nav-pills {
    a {
        color: #fff;
    }
}

a.navbar-brand {
    font-size: 1em;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $turquoise;

    }
}

@media(max-width:767px) {
    #scrollit.navbar {
        width: 100%;

        a.navbar-brand {
            width: 10%;
            font-size: 1em;
            border-bottom: 2px solid $turquoise !important;
        }
    }

    ul.nav.nav-pills {
        width: 80%;
        display: inline-block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        li.nav-item {
            display: inline-block;

            a.nav-linkbrand {
                margin: 0;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

}



/* --- end customization ------ */

/* 3. import Bootstrap to set the changes! */
@import "scss/bootstrap";

/* 4. add @mixin or @extend customizations here */
/* create new custom classes from existing classes */


.row-dark {
    @extend .row;
    background-color: #333333;
    color: #ffffff;
}

/* use @mixins */
.btn-custom {
    @include button-variant($turquoise, white, $turquoise, $turquoise);
}

nav#scrollit {
    background-color: rgba(0, 0, 0, 0.8);

    a {
        color: #fff;
    }

    .nav-pills {
        .nav-link {
            border-radius: 0;
            border-bottom: 4px solid transparent;
        }

        .nav-link.active,
        .show > .nav-link {
            background-color: transparent;
            border-bottom: 4px solid $turquoise;

        }

        @media(max-width:767px) {
            .nav-link {
                border-radius: 0;
                border-bottom: none;
            }

            .nav-link.active,
            .show > .nav-link {
                background-color: transparent;
                color: $turquoise;
                border-bottom: none;

            }
        }
    }
}

.container {
    max-width: 800px;
}

.adibotron {
    background-image: url('./img/adib-backstage-grayscale.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 69%;
    color: #fff;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;

    h1 {
        font-size: 5em;
        font-weight: 700;
        line-height: 0.7;
        margin-bottom: 0.69em;
    }

    p {
        margin-bottom: 2em;
    }

    .impressum {
        border: 1px solid #fff;
        padding: 1em 2em;

        p {
            margin-bottom: 0;
        }
    }

    @media(max-width: 767px) {
        background-position: right;

        h1 {
            font-size: 3em;

        }
    }
}

.cool-bar {
    display: block;
    position: absolute;
    width: 40px;
    height: 69%;
    background-image: url('./img/wood-grain-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1) contrast(0.5) brightness(0.5);

    @media(max-width: 767px) {
        display: none;
    }
}

.cool-bar-left {
    @extend .cool-bar;
    left: 0;
    bottom: 0;
    background-position: 90%;
}


.cool-bar-right {
    @extend .cool-bar;
    top: 0;
    right: 0;
    background-position: 50%;
}

.intro {
    background-image: url('./img/mur-briques-grayscale.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .container {
        margin-top: -86px;
    }

    .embed-responsive-item {
        border-bottom: 8px solid $turquoise;
        padding-bottom: 15px;
    }

    @media(max-width:767px) {
        background-attachment: scroll;

    }
}

section#specials {
    background-color: $noirpur;
    color: #fff;
    position: relative;

    h2 {
        border-color: $turquoise;
    }

    .item {
        margin-bottom: 3em;
    }

    .item h3 {
        color: $turquoise;
    }

    .item img.special {
        margin-bottom: 2em;
        transition: all 0.25s ease;

        &:hover {
            transform: translateY(-10px);
        }
    }

    .badge {
        max-width: 150px;
        display: block;
    }

}

section#billets {
    background-image: url('./img/bg-billets.jpg');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 10% 100%;
    background-color: #f1f1f1;
    background-attachment: fixed;
    -webkit-box-shadow: inset 0px 15px 32px -15px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: inset 0px 15px 32px -15px rgba(0, 0, 0, 0.46);
    box-shadow: inset 0px 15px 32px -15px rgba(0, 0, 0, 0.46);


    h2 {
        border-color: $turquoise;
    }

    .billet {
        transition: all 0.25s ease;

        &:hover {
            transform: translateY(-10px) rotate(10deg);
        }
    }

    @media(max-width: 767px) {
        background-attachment: scroll;
        background-size: cover;
        background-position: 50% 50%;
    }
}

section#films {
    background: rgb(126, 173, 191);
    background: -moz-linear-gradient(90deg, rgba(126, 173, 191, 1) 0%, rgba(160, 192, 206, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(126, 173, 191, 1) 0%, rgba(160, 192, 206, 1) 100%);
    background: linear-gradient(90deg, rgba(126, 173, 191, 1) 0%, rgba(160, 192, 206, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7eadbf", endColorstr="#a0c0ce", GradientType=1);
    color: #fff;

    h2 {
        border-color: $turquoise;
    }

    p {
        margin-bottom: 2em;
    }

    .poster {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
    }
}

section#videos {
    background-color: $noirpur;
    color: #fff;
    position: relative;

    h2 {
        border-color: $turquoise;
    }

    .icon-right {
        width: 100px;
        float: right;
        margin-left: 1em;
    }
}

section#prints {
    background-color: #fff;
    color: $noirpur;

    h2 {
        border-color: $turquoise;
    }

    a {
        color: #16846B;
    }
}

section#contacter {
    background-image: url('./img/contacter.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    min-height: 40vh;
    padding-bottom: 0;
    a{
        color:$noirpur;
        font-weight: 500;
        text-decoration: underline;
    }

    @media(max-width: 767px) {
        min-height: 100vh;
    }
}

footer {
    position: relative;
    display: block;
    background-color: $noirpur;
    color: #fff;
    padding-top: 4em;
    padding-bottom: 2em;

    h4 {
        color: $turquoise;
    }
    
    hr{
        border-color:$turquoise;
        margin: 2em auto;
    }

    a {
        color: #fff;

        &:hover {
            color: magenta;
        }
    }
}
