// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,700,900');

/* 1. import only the necessary Bootstrap files */
@import "scss/functions";
@import "scss/variables";

/* 2. begin customization ---- */
$font-family-sans-serif: 'Nunito Sans',
sans-serif;
$theme-colors: ("turquoise":#50E3C2, "noirpur":#000);


$colors: ("turquoise":#50E3C2, "noirpur":#000);
$turquoise: #50E3C2;
$noirpur: #000000;

.turquoise {
    color: $turquoise !important;
}

body {
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: $noirpur !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

section,
footer {
    padding-top: 4em;
    padding-bottom: 4em;

    h2 {
        font-weight: 700;
        font-size: 3em;
        padding-left: 0.4em;
        margin-bottom: 0.5em;
        border-left: 10px solid;
    }

    p {
        font-weight: 300;
        margin-bottom: 2rem;
    }

    h3 {
        font-weight: 700;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .btn {
        border-radius: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }

    a {
        color: $turquoise;

        &:hover {
            color: magenta;
        }
    }
}

ul.nav.nav-pills {
    a {
        color: #fff;
    }
}

a.navbar-brand {
    font-size: 1em;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $turquoise;

    }
}

@media(max-width:576px) {
    #scrollit.navbar {
        width: 100%;

        a.navbar-brand {
            width: 10%;
            font-size: 1em;
            border-bottom: 2px solid $turquoise !important;
        }
    }

    ul.nav.nav-pills {
        width: 80%;
        display: inline-block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        li.nav-item {
            display: inline-block;

            a.nav-linkbrand {
                margin: 0;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

}



/* --- end customization ------ */

/* 3. import Bootstrap to set the changes! */
@import "scss/bootstrap";

/* 4. add @mixin or @extend customizations here */
/* create new custom classes from existing classes */


.row-dark {
    @extend .row;
    background-color: #333333;
    color: #ffffff;
}

/* use @mixins */
.btn-custom {
    @include button-variant($turquoise, $turquoise, $turquoise, white);
}

.btn-custom-2 {
    @include button-variant(#fff, $turquoise, #000, $turquoise);
    border: 3px solid;
    font-weight: bold;
}


nav#scrollit {
    background-color: rgba(0, 0, 0, 0.8);

    a {
        color: #fff;
    }

    .nav-pills {
        .nav-link {
            border-radius: 0;
            border-bottom: 4px solid transparent;
        }

        .nav-link.active,
        .show > .nav-link {
            background-color: transparent;
            border-bottom: 4px solid $turquoise;

        }

        @media(max-width:767px) {
            .nav-link {
                border-radius: 0;
                border-bottom: none;
            }

            .nav-link.active,
            .show > .nav-link {
                background-color: transparent;
                color: $turquoise;
                border-bottom: none;

            }
        }
    }
}

.container {
    max-width: 869px;
}

.adibotron {
    background-image: url('./img/adib-backstage-grayscale.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 69%;
    color: #fff;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding-top: 9em;
    padding-bottom: 5em;

    h1 {
        font-size: 5em;
        font-weight: 700;
        line-height: 0.7;
        margin-bottom: 0.69em;
    }

    p {
        margin-bottom: 1em;
    }

    .impressum {
        border: 1px solid #fff;
        padding: 1em 2em;
        background: rgba(0, 0, 0, 0.8);

        p {
            margin-bottom: 0;
        }
    }

    @media(max-width: 767px) {
        min-height: 90vh;
        background-size: 240%;
        background-position: 79% 90%;
        align-items: flex-end;
        padding-top: 8rem;
        padding-bottom: 1rem;


        h1 {
            font-size: 3em;

        }
    }
}

.cool-bar {
    display: block;
    position: absolute;
    width: 40px;
    height: 69%;
    background-image: url('./img/wood-grain-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1) contrast(0.5) brightness(0.5);

    @media(max-width: 767px) {
        display: none;
    }
}

.cool-bar-left {
    @extend .cool-bar;
    left: 0;
    bottom: 0;
    background-position: 90%;
}


.cool-bar-right {
    @extend .cool-bar;
    top: 0;
    right: 0;
    background-position: 50%;
}

.intro {
    background-image: url('./img/mur-briques-grayscale.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    &::after {
        content: "";
        display: block;
        height: 8px;
        width: 69vw;
        background-color: $turquoise;
        margin: auto;
        margin-top: 2rem;
    }

    .container {
        margin-top: -86px;
    }


    .embed-responsive {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);


    }

    @media(max-width:767px) {
        background-attachment: scroll;

    }
}

section#specials {
    background-color: $noirpur;
    color: #fff;
    position: relative;

    h2 {
        border-color: $turquoise;
    }

    .item {
        margin-bottom: 3em;

        @media(max-width: 767px) {
            padding: 1.5em;
        }
    }

    .item h3 {
        color: $turquoise;
    }

    .item img.special {
        margin-bottom: 2em;
        transition: all 0.25s ease;

        &:hover {
            transform: translateY(-10px);
        }
    }

    .badge {
        max-width: 150px;
        display: block;
    }

}

section#billets {
    background-image: url('./img/sketch-adib.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color: #f1f1f1;
    background-attachment: fixed;
    -webkit-box-shadow: inset 0px 15px 32px -15px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: inset 0px 15px 32px -15px rgba(0, 0, 0, 0.46);
    box-shadow: inset 0px 15px 32px -15px rgba(0, 0, 0, 0.46);


    h2 {
        border-color: $turquoise;
    }

    .billet-template {
        display: flex;
        padding: 1em 1.25em;
        background-image: url('./img/billet-template.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.25s ease;
        transform-style: preserve-3d;

        &:hover {
            transform: translateY(-10px) rotate(10deg);
        }

        @media(max-width:767px) {
            padding: 20px 40px;
            background-size: 90%;
        }

        a.billet {
            background-color: $turquoise;
            min-height: 50px;
            width: 100%;
            position: relative;
            color: $noirpur;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            border: 3px solid $noirpur;
            border-radius: 1em;


            .number,
            .detail {
                width: 15%;
                transform: rotate(90deg);
                margin: auto;
                display: flex;
                justify-content: center;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 1.5em;
                margin-bottom: 1.5em;
            }

            .location-date {
                text-align: center;
                justify-content: center;
                width: 70%;
                border-left: 3px solid $noirpur;
                border-right: 3px solid $noirpur;
                padding: 0.5em 0;

                h3 {
                    font-size: 1.1em;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    margin-bottom: 0.1em;
                }

                h4 {
                    font-size: 0.8em;
                    font: 500;
                    text-transform: uppercase;
                    margin-bottom: 0.2em;
                }

                p {
                    font-size: 0.7em;
                    margin-bottom: 0;
                }
            }

        }
    }


    @media(max-width: 767px) {
        background-attachment: scroll;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }
}

.liste-billets {

    .spectacle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.80);
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        border-bottom: 3px solid #000;

        &:hover {
            background-color: $turquoise;
        }

        .photo {
            margin: 1rem;

            img {
                height: 120px;
                width: 120px;
                object-fit: cover;
            }
        }

        .date,
        .info {
            margin: 1rem;
            width: 40%;
        }

        .buy {
            margin: 1rem;
            width: 20%;
        }

        @media (max-width:767px) {
            flex-direction: column;
            justify-content: flex-start;

            .photo,
            .date,
            .info,
            .buy {
                margin: 0.5rem;
                width: 100%;
            }
            .photo img{
                width:100%;
                height:200px;
            }
        }

    }

    h4 {
        font-weight: bolder;
        font-size: 1.5rem;
    }
}


section#films {
    background: rgb(126, 173, 191);
    background: -moz-linear-gradient(90deg, rgba(126, 173, 191, 1) 0%, rgba(160, 192, 206, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(126, 173, 191, 1) 0%, rgba(160, 192, 206, 1) 100%);
    background: linear-gradient(90deg, rgba(126, 173, 191, 1) 0%, rgba(160, 192, 206, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7eadbf", endColorstr="#a0c0ce", GradientType=1);
    color: #fff;

    h2 {
        border-color: $turquoise;
    }

    p {
        margin-bottom: 2em;
    }

    .poster {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
    }
}

section#videos {
    background-color: $noirpur;
    color: #fff;
    position: relative;

    h2 {
        border-color: $turquoise;
    }

    .icon-right {
        width: 100px;
        float: right;
        margin-left: 1em;
    }
}

section#prints {
    background-color: #fff;
    color: $noirpur;

    h2 {
        border-color: $turquoise;
    }

    a {
        color: #16846B;
    }
}

section#contacter {
    background-image: url('./img/adib-action-2_gris.jpg');
    background-repeat: no-repeat;
    background-position: 50% 86%;
    background-size: cover;
    min-height: 60vh;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.67);

    a {
        color: $turquoise;
        font-weight: 500;
        text-decoration: underline;
    }

    h2 {
        border-color: $turquoise;
    }

    @media(max-width: 767px) {
        min-height: 40vh;
        padding-bottom: 0;
        display: block;
        background-position: 0% 100%;
    }
}

.modal {
    .modal-content {
        .modal-header {
            border-bottom: 0;
            position: absolute;
            right: 0;
            color: #fff;
        }

        .modal-footer {
            border-top: 0;

            a {
                color: #333;
            }
        }
    }
}

footer {
    position: relative;
    display: block;
    background-color: $noirpur;
    color: #fff;
    padding-top: 4em;
    padding-bottom: 2em;

    h4 {
        color: $turquoise;
    }

    hr {
        border-color: $turquoise;
        margin: 1em auto;
    }

    a {
        color: #fff;

        &:hover {
            color: magenta;
        }
    }
}
